.header {
  height: 94px;
  width: 100%;
  position: relative;
  background: white;
  display: flex;
  align-items: center;

  &-user {
    display: flex;
    align-items: center;
    position: absolute;
    right: 24px;
    &-profile {
      width: 42px;
      height: 42px;
      position: relative;
      margin-left: 34px;
      &-img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }
  }
}
