.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &-content {
    background: $grey-bg;
    padding: 10px 24px;
    width: 100%;
    &-title {
      font-weight: bolder;
      font-size: 20px;
      line-height: 36px;
      color: black;
      margin-bottom: 25px;
    }
  }
}

.main-content-graphs {
  width: 100%;
  margin-top: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.big-graph {
  width: 60%;
  background: white;
  border-radius: 12px;
}

.small-graph {
  width: 35%;
  background: white;
  border-radius: 12px;
}

.graph-img {
  width: 100%;
  margin-top: 20px;
  height: 300px;
  box-shadow: 0 0 black;
}

.main-content-review {
  width: 100%;

  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    margin: 16px 0;
  }
}

@media (min-width: 800px) and (max-width: 1300px) {
  .main-content-total-card-description-total {
    font-size: 18px;
  }

  .main-content-total {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-content-total-card {
    width: 48%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 800px) {
  .main-content {
    padding: 5px 10px;
  }
  .main-content-total {
    flex-direction: column;
    justify-content: center;
  }

  .main-content-total-card {
    width: 100%;
    margin-top: 10px;
  }

  .main-content-graphs {
    flex-direction: column;
    margin: 0;
  }

  .main-content-graps-img {
    width: 100%;
    margin-top: 10px;
  }

  .main-content-review-content {
    flex-direction: column;
  }

  .main-content-review-content-card {
    width: 100%;
    margin-top: 10px;
  }
}
