.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &-content {
    background: $grey-bg;
    height: 100vh;
    padding: 10px 24px;
    width: 100%;
    &-title {
      font-weight: bolder;
      font-size: 20px;
      line-height: 36px;
      color: black;
      margin-bottom: 25px;
    }
  }
}

.main-content-graphs {
  width: 100%;
  margin-top: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.big-graph {
  width: 60%;
  background: white;
  border-radius: 12px;
}

.small-graph {
  width: 35%;
  background: white;
  border-radius: 12px;
}

.graph-img {
  width: 100%;
  margin-top: 20px;
  height: 300px;
  box-shadow: 0 0 black;
}
