.aside-btn {
  background-color: $blue;
  color: white;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
