.main-content-total {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &-card {
    width: 32%;
    background: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 26px;
    position: relative;
    &-description {
      margin-left: 16px;
      &-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $dark-grey;
      }
      &-total {
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: $dark;
      }
    }
    &-percent {
      position: absolute;
      right: 25px;
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
    }
  }
}

// modifikatori za procente top kartica

.visitor--percent {
  color: $blue;
}

.user--percent {
  color: $red;
}

.activity--percent {
  color: $purple;
}

// user review container and cards

.main-content-review-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-card {
    width: 32%;
    background: white;
    border-radius: 12px;
    padding: 20px 25px 30px 20px;
    &-header {
      display: flex;
      flex-direction: row;
      &-user {
        margin-left: 13px;
        &-name {
          font-size: 14px;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: $dark-2;
        }
        &-time {
          font-size: 14px;
          color: $dark-grey;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
    &-description {
      margin: 15px 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $dark-2;
    }
  }
}
